<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.formeky.zcwblog.mapper.EssayMapper">
  <resultMap id="BaseResultMap" type="xyz.formeky.zcwblog.pojo.entity.Essay">
    <!--@mbg.generated-->
    <!--@Table essay-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="brief_introduction" jdbcType="LONGVARCHAR" property="briefIntroduction" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="tag_ids" jdbcType="VARCHAR" property="tagIds" />
    <result column="classify_ids" jdbcType="VARCHAR" property="classifyIds" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="del" jdbcType="BIT" property="del" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, title, brief_introduction, content, author, tag_ids, classify_ids, `date`, del
  </sql>
  <sql id="Sample_List">
    <!--@mbg.generated-->
    id, title, brief_introduction, tag_ids, classify_ids, `date`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from essay
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="listEssay" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Sample_List" />
    from essay
    <where>
      <if test="title != null and title != ''">
        title like concat('%',#{title,jdbcType=VARCHAR},'%')
      </if>
    </where>
    limit #{start,jdbcType=INTEGER} , #{rows,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from essay
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.formeky.zcwblog.pojo.entity.Essay">
    <!--@mbg.generated-->
    insert into essay (id, title, brief_introduction, 
      content, author, tag_ids, 
      classify_ids, `date`, del
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{briefIntroduction,jdbcType=LONGVARCHAR}, 
      #{content,jdbcType=LONGVARCHAR}, #{author,jdbcType=VARCHAR}, #{tagIds,jdbcType=VARCHAR}, 
      #{classifyIds,jdbcType=VARCHAR}, #{date,jdbcType=TIMESTAMP}, #{del,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="xyz.formeky.zcwblog.pojo.entity.Essay">
    <!--@mbg.generated-->
    insert into essay
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="briefIntroduction != null">
        brief_introduction,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="tagIds != null">
        tag_ids,
      </if>
      <if test="classifyIds != null">
        classify_ids,
      </if>
      <if test="date != null">
        `date`,
      </if>
      <if test="del != null">
        del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="briefIntroduction != null">
        #{briefIntroduction,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="tagIds != null">
        #{tagIds,jdbcType=VARCHAR},
      </if>
      <if test="classifyIds != null">
        #{classifyIds,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="del != null">
        #{del,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.formeky.zcwblog.pojo.entity.Essay">
    <!--@mbg.generated-->
    update essay
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="briefIntroduction != null">
        brief_introduction = #{briefIntroduction,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="tagIds != null">
        tag_ids = #{tagIds,jdbcType=VARCHAR},
      </if>
      <if test="classifyIds != null">
        classify_ids = #{classifyIds,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        `date` = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="del != null">
        del = #{del,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.formeky.zcwblog.pojo.entity.Essay">
    <!--@mbg.generated-->
    update essay
    set title = #{title,jdbcType=VARCHAR},
      brief_introduction = #{briefIntroduction,jdbcType=LONGVARCHAR},
      content = #{content,jdbcType=LONGVARCHAR},
      author = #{author,jdbcType=VARCHAR},
      tag_ids = #{tagIds,jdbcType=VARCHAR},
      classify_ids = #{classifyIds,jdbcType=VARCHAR},
      `date` = #{date,jdbcType=TIMESTAMP},
      del = #{del,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>


</mapper>